In [1]:
# importing needed libraries

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv("sales_Price.csv")  # reading the dataset

In [3]:
dataset.head()

,Unnamed: 0,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,Rating
0,0,221900.0,3.0,2.0,1180.0,5650,1.0,0,0,3.0,...,1180,0,1955,0,98178,47.5112,122.257,1340,5650.0,Excellent
1,1,538000.0,3.0,2.0,2570.0,7242,2.0,0,0,3.0,...,2170,400,1951,0,98125,47.7210,122.319,1690,7639.0,Excellent
2,2,180000.0,2.0,2.0,770.0,10000,1.0,0,0,3.0,...,770,0,1933,0,98028,47.7379,122.233,2720,8062.0,Good
3,3,604000.0,4.0,2.0,1960.0,5000,1.0,0,0,5.0,...,1050,910,1965,0,98136,47.5208,122.393,1360,5000.0,Excellent
4,4,510000.0,3.0,2.0,1680.0,8080,1.0,0,0,3.0,...,1680,0,1987,0,98074,47.6168,122.045,1800,7503.0,Excellent

In [4]:
dataset1 = dataset.drop(['Unnamed: 0','zipcode','lat','long'], axis = 1, inplace = True)

In [5]:
dataset.head(5)

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,Rating
0,221900.0,3.0,2.0,1180.0,5650,1.0,0,0,3.0,7.0,1180,0,1955,0,1340,5650.0,Excellent
1,538000.0,3.0,2.0,2570.0,7242,2.0,0,0,3.0,7.0,2170,400,1951,0,1690,7639.0,Excellent
2,180000.0,2.0,2.0,770.0,10000,1.0,0,0,3.0,6.0,770,0,1933,0,2720,8062.0,Good
3,604000.0,4.0,2.0,1960.0,5000,1.0,0,0,5.0,7.0,1050,910,1965,0,1360,5000.0,Excellent
4,510000.0,3.0,2.0,1680.0,8080,1.0,0,0,3.0,8.0,1680,0,1987,0,1800,7503.0,Excellent

In [6]:
dataset['Rating'] = ['1' if x == 'Excellent' else '0' for x in dataset['Rating']]

In [7]:
dataset.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,Rating
0,221900.0,3.0,2.0,1180.0,5650,1.0,0,0,3.0,7.0,1180,0,1955,0,1340,5650.0,1
1,538000.0,3.0,2.0,2570.0,7242,2.0,0,0,3.0,7.0,2170,400,1951,0,1690,7639.0,1
2,180000.0,2.0,2.0,770.0,10000,1.0,0,0,3.0,6.0,770,0,1933,0,2720,8062.0,0
3,604000.0,4.0,2.0,1960.0,5000,1.0,0,0,5.0,7.0,1050,910,1965,0,1360,5000.0,1
4,510000.0,3.0,2.0,1680.0,8080,1.0,0,0,3.0,8.0,1680,0,1987,0,1800,7503.0,1

In [8]:
dependent = dataset[['Rating']]
independent = dataset.drop('Rating', axis = 1)

In [9]:
independent.shape

(21613, 16)

In [10]:
dependent

      Rating
0          1
1          1
2          0
3          1
4          1
...      ...
21608      1
21609      1
21610      1
21611      1
21612      1

[21613 rows x 1 columns]

In [11]:
# split the dataset into training and test

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(independent, dependent, test_size = 1/3, random_state = 0)

In [12]:
X_train

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
828,465750.0,3.0,2.0,1260.0,10350,1.0,0,0,3.0,7.0,1260,0,1959,0,1800,10350.0
17642,575000.0,2.0,2.0,1320.0,4750,1.5,0,0,4.0,7.0,1320,0,1928,0,1360,2873.0
4062,212500.0,3.0,2.0,920.0,14400,1.0,0,0,4.0,7.0,920,0,1977,0,1170,9600.0
5787,455000.0,2.0,2.0,1350.0,4286,1.0,0,0,3.0,8.0,1350,0,2004,0,1440,4839.0
19516,480000.0,3.0,2.0,1820.0,15000,1.0,0,0,3.0,7.0,1480,340,1978,0,1930,13600.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13123,1129575.0,5.0,2.0,3960.0,19160,2.0,0,0,3.0,9.5,3740,0,1998,0,2240,17557.5
19648,299000.0,2.0,2.0,1400.0,1262,2.0,0,0,3.0,8.0,1160,240,2008,0,1060,1524.0
9845,431000.0,3.0,2.0,2360.0,14950,1.0,0,0,4.0,9.0,2360,0,1978,0,2720,14388.0
10799,411000.0,4.0,2.0,2370.0,19160,2.0,0,0,4.0,8.0,2370,0,1978,0,2110,17557.5
2732,699900.0,4.0,2.0,2380.0,16236,1.0,0,0,3.0,7.0,1540,840,1961,0,2230,8925.0

In [13]:
X_test

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
17384,297000.0,2.0,2.0,1430.0,1650,3.0,0,0,3.0,7.0,1430,0,1999,0,1430,1650.0
722,1129575.0,4.0,2.0,4234.5,19160,2.0,0,0,4.0,9.5,3740,0,1988,0,3665,17557.5
2680,562100.0,2.0,2.0,1440.0,3700,1.0,0,0,3.0,7.0,1200,240,1914,0,1440,4300.0
18754,631500.0,2.0,2.0,1130.0,2640,1.0,0,0,4.0,8.0,1130,0,1927,0,1680,3200.0
14554,780000.0,4.0,2.0,3180.0,9603,2.0,0,0,3.0,9.0,3180,0,2002,0,2440,15261.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1611,378000.0,4.0,2.0,1890.0,12236,1.0,0,0,3.0,7.0,1230,660,1978,0,1390,11360.0
19590,275500.0,4.0,2.0,1290.0,5000,1.5,0,0,3.0,7.0,1290,0,1957,0,1440,2500.0
12102,592500.0,2.0,2.0,1870.0,4751,1.0,0,0,3.0,8.0,1870,0,2006,0,2170,5580.0
6586,284900.0,2.0,2.0,1160.0,982,2.0,0,0,3.0,7.0,890,270,2006,0,1160,1008.0
3260,380000.0,2.0,2.0,1040.0,7372,1.0,0,0,5.0,7.0,840,200,1939,0,1930,5150.0

In [14]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [15]:
from sklearn.linear_model import LogisticRegression

In [16]:
from sklearn.model_selection import GridSearchCV

param_grid = {'solver':['newton-cg', 'lbfgs', 'liblinear', 'saga'],
              'penalty':['l2']}

grid = GridSearchCV(LogisticRegression(), param_grid, refit = True, verbose = 3, n_jobs = -1, scoring = 'f1_weighted')


grid.fit(X_train, y_train)

Fitting 5 folds for each of 4 candidates, totalling 20 fits

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(estimator=LogisticRegression(), n_jobs=-1,
             param_grid={'penalty': ['l2'],
                         'solver': ['newton-cg', 'lbfgs', 'liblinear', 'saga']},
             scoring='f1_weighted', verbose=3)

In [17]:
re = grid.cv_results_

In [18]:
print(grid.best_params_) # best parameter after tunning

{'penalty': 'l2', 'solver': 'newton-cg'}

In [19]:
grid_predictions = grid.predict(X_test)

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, grid_predictions)

from sklearn.metrics import classification_report
clf_report = classification_report(y_test, grid_predictions)

In [20]:
from sklearn.metrics import f1_score
f1_macro = f1_score(y_test, grid_predictions, average = 'weighted')
print(f1_macro)

1.0

In [21]:
print('Confusion Matrix\n', cm)

Confusion Matrix
 [[ 747    0]
 [   0 6458]]

In [22]:
print('Classification Report\n', clf_report)

Classification Report
               precision    recall  f1-score   support

           0       1.00      1.00      1.00       747
           1       1.00      1.00      1.00      6458

    accuracy                           1.00      7205
   macro avg       1.00      1.00      1.00      7205
weighted avg       1.00      1.00      1.00      7205

In [23]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test, grid.predict_proba(X_test)[:,1])

1.0

In [24]:
table = pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_penalty,param_solver,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.159893,0.008702,0.068938,0.001585,l2,newton-cg,"{'penalty': 'l2', 'solver': 'newton-cg'}",1.0,1.0,1.0,1.0,1.0,1.0,0.0,1
1,0.109155,0.007388,0.068432,0.002840,l2,lbfgs,"{'penalty': 'l2', 'solver': 'lbfgs'}",1.0,1.0,1.0,1.0,1.0,1.0,0.0,1
2,0.095333,0.001718,0.064111,0.002970,l2,liblinear,"{'penalty': 'l2', 'solver': 'liblinear'}",1.0,1.0,1.0,1.0,1.0,1.0,0.0,1
3,0.410838,0.018203,0.051243,0.006754,l2,saga,"{'penalty': 'l2', 'solver': 'saga'}",1.0,1.0,1.0,1.0,1.0,1.0,0.0,1

In [28]:
bed_input = int(input("No.of Bedrooms:"))
bath_input = int(input("no.of Bathrooms:"))
Sq_input = float(input("Square_Feet:"))
SqL_input = float(input("Square_Feet_Loft:"))
floors_input = int(input("Floors:"))
waterfront_input = int(input("waterfront:"))
view_input = int(input("View input"))
condition_input = int(input("Enter the house condition:"))
grade_input = int(input("enter the Grade of the house:"))
Sq_above_input = int(input("Square_Feet_above input:"))
Sq_basement_input = int(input("Square_Feet basement input:"))
year_input = int(input("Built year:"))
Ryear_input = int(input("year renovated:"))
Sq_living_input = int(input("Sq feet living:"))
Sq_loft_input = int(input("Square_Feet Loft:"))
Price_input = int(input("Price of the house:"))

No.of Bedrooms:4
no.of Bathrooms:4
Square_Feet:30000
Square_Feet_Loft:1234
Floors:3
waterfront:1
View input1
Enter the house condition:5
enter the Grade of the house:14
Square_Feet_above input:2090
Square_Feet basement input:2345
Built year:2015
year renovated:2016
Sq feet living:234
Square_Feet Loft:2345
Price of the house:2000000

In [29]:
Rating_Classification = grid.predict([[bed_input,bath_input,Sq_input,SqL_input,floors_input,waterfront_input,view_input,condition_input,grade_input,Sq_above_input,Sq_basement_input,year_input,Ryear_input,Sq_living_input,Sq_loft_input,Price_input]])
print("Rating_Classification of the house = {}".format(Rating_Classification))

Rating_Classification of the house = ['0']