In [12]:
import pandas as pd
import numpy as np
import pickle
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score

In [6]:
dataset = pd.read_csv("sales_Price.csv")
dataset

,Unnamed: 0,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,Rating
0,0,221900.0,3.0,2.0,1180.0,5650,1.0,0,0,3.0,...,1180,0,1955,0,98178,47.5112,122.257,1340,5650.0,Excellent
1,1,538000.0,3.0,2.0,2570.0,7242,2.0,0,0,3.0,...,2170,400,1951,0,98125,47.7210,122.319,1690,7639.0,Excellent
2,2,180000.0,2.0,2.0,770.0,10000,1.0,0,0,3.0,...,770,0,1933,0,98028,47.7379,122.233,2720,8062.0,Good
3,3,604000.0,4.0,2.0,1960.0,5000,1.0,0,0,5.0,...,1050,910,1965,0,98136,47.5208,122.393,1360,5000.0,Excellent
4,4,510000.0,3.0,2.0,1680.0,8080,1.0,0,0,3.0,...,1680,0,1987,0,98074,47.6168,122.045,1800,7503.0,Excellent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,21608,360000.0,3.0,2.0,1530.0,1131,3.0,0,0,3.0,...,1530,0,2009,0,98103,47.6993,122.346,1530,1509.0,Excellent
21609,21609,400000.0,4.0,2.0,2310.0,5813,2.0,0,0,3.0,...,2310,0,2014,0,98146,47.5107,122.362,1830,7200.0,Excellent
21610,21610,402101.0,2.0,2.0,1020.0,1350,2.0,0,0,3.0,...,1020,0,2009,0,98144,47.5944,122.299,1020,2007.0,Excellent
21611,21611,400000.0,3.0,2.0,1600.0,2388,2.0,0,0,3.0,...,1600,0,2004,0,98027,47.5345,122.069,1410,1287.0,Excellent
21612,21612,325000.0,2.0,2.0,1020.0,1076,2.0,0,0,3.0,...,1020,0,2008,0,98144,47.5941,122.299,1020,1357.0,Excellent

In [7]:
dataset = dataset.drop(['Unnamed: 0','zipcode','lat','long'], axis = 1)

In [8]:
dataset = pd.get_dummies(dataset, dtype=int)

In [9]:
dataset.fillna(0 , inplace = True) # replacing with NA
dataset.isnull().sum()

price               0
bedrooms            0
bathrooms           0
sqft_living         0
sqft_lot            0
floors              0
waterfront          0
view                0
condition           0
grade               0
sqft_above          0
sqft_basement       0
yr_built            0
yr_renovated        0
sqft_living15       0
sqft_lot15          0
Rating_Excellent    0
Rating_Good         0
dtype: int64

In [10]:
dataset = dataset.drop(['Rating_Good'],axis = 1)

In [13]:
#changing both values to int

dataset['bathrooms'] = dataset['bathrooms'].apply(np.int64)
dataset['price'] = dataset['price'].apply(np.int64)

In [14]:
# classification is the output variable, so storing it in y, x is input

independent = dataset.iloc[:,1:].values
dependent =dataset.iloc[:,0].values

In [15]:

X_train,X_test,y_train,y_test = train_test_split(independent,dependent,test_size = 0.30, random_state = 0)

In [16]:

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [17]:
preinput = sc.transform([[4,5,3000,1000,2,0,1,4,12,2000,1000,2009,2015,800,3000,1]])

In [18]:
loaded_model = pickle.load(open("Finalized_model_RF_Price_Prediction.sav",'rb'))
result = loaded_model.predict(preinput)

In [19]:
result

array([908840.32])