In [1]:
import pandas as pd
import numpy as np
import pickle
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score

In [2]:
dataset = pd.read_csv("sales_Price.csv")
dataset

,Unnamed: 0,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,0,221900.0,3,1.0,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650
1,1,538000.0,3,2.0,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639
2,2,180000.0,2,1.0,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062
3,3,604000.0,4,3.0,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000
4,4,510000.0,3,2.0,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,21608,360000.0,3,2.0,1530,1131,3.0,0,0,3,8,1530,0,2009,0,1530,1509
21609,21609,400000.0,4,2.0,2310,5813,2.0,0,0,3,8,2310,0,2014,0,1830,7200
21610,21610,402101.0,2,1.0,1020,1350,2.0,0,0,3,7,1020,0,2009,0,1020,2007
21611,21611,400000.0,3,2.0,1600,2388,2.0,0,0,3,8,1600,0,2004,0,1410,1287
21612,21612,325000.0,2,1.0,1020,1076,2.0,0,0,3,7,1020,0,2008,0,1020,1357

In [3]:
dataset = dataset.drop(['Unnamed: 0'], axis = 1)

In [4]:
dataset = pd.get_dummies(dataset, dtype=int)

In [5]:
dataset.fillna(0 , inplace = True) # replacing with NA
dataset.isnull().sum()

price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [6]:
#changing both values to int

dataset['bathrooms'] = dataset['bathrooms'].apply(np.int64)
dataset['price'] = dataset['price'].apply(np.int64)

In [7]:
# classification is the output variable, so storing it in y, x is input

independent = dataset.iloc[:,1:].values
dependent =dataset.iloc[:,0].values

In [8]:

X_train,X_test,y_train,y_test = train_test_split(independent,dependent,test_size = 0.30, random_state = 0)

In [9]:

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [10]:
preinput = sc.transform([[4,5,3000,1000,2,0,1,4,12,2000,1000,2009,2015,800,3000]])

In [11]:
loaded_model = pickle.load(open("Finalized_model_RF_Price_Prediction.sav",'rb'))
result = loaded_model.predict(preinput)

In [12]:
result # Price of the House

array([1344575.23])